{% extends "dashboard.html" %}

{% block linegraph %} 

<div style="width: 60%;">
	<!-- <canvas id="line-chart"></canvas>
	<canvas id="bar-chart-horizontal"></canvas>
	<canvas id="myChart" width="400" height="400"></canvas> -->
	<canvas id="line-chart-ph" width="800" height="450"></canvas>
	<!-- <p id="demo"></p> -->
</div>




<script type="text/javascript">
	
	var ph_confirmed = JSON.parse('{{ ph_confirmed|tojson|safe }}');
	var ph_recoveries = JSON.parse('{{ ph_recoveries|tojson|safe }}');
	var ph_deaths = JSON.parse('{{ ph_deaths|tojson|safe }}');
	var ph_dates = JSON.parse('{{ ph_dates|tojson|safe }}');
</script>
{% endblock %}