<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="assets/css/Team-Boxed.css">
</head>

<body>
    <section class="text-center bg-light features-icons">
        <div class="container">
            <section class="team-boxed">
                <div class="container">
                    <div class="intro">
                        <h2 class="text-center" id="title">Title of Graph</h2>
                        <p class="text-center" id="content"><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gravida cum sociis natoque penatibus et magnis dis. Turpis egestas integer eget aliquet nibh praesent. Eu volutpat odio facilisis mauris sit amet massa vitae. In est ante in nibh mauris cursus mattis molestie. Eget dolor morbi non arcu risus quis varius quam quisque. Dui nunc mattis enim ut tellus elementum sagittis vitae et. Blandit volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque.&nbsp;<br><br></p>
                        <div class="row" id="graphContainer"></div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>